* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #b8b7b7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
}

#board-container {
    padding: 1dvh 35dvw;
    outline: 1px solid black;
    border: 1px solid gray;
}

@media (orientation: portrait) {
  #board-container {
    margin: 13dvh 0 10dvh 0;
    padding: 2dvh 3dvw;
  }
}

#settings {
    margin: 1.5dvh auto 0.5dvh auto;
    /* padding: 1dvh 1dvw; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1dvh; */
    /* font-size: 1.2rem; */
    /* width: 35dvw; */
    /* border: 1px solid gray; */
    flex-wrap: wrap;

    * {
        border: 1px solid gray;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
    }

    label {
        margin-right: 0.25rem;
        padding-right: 0;
        font-size: 1.2rem;
        border: none;
    }

    input {
        margin-left: 0;
        padding: 0.3rem 0;
        width: 3rem;
        font-size: 1.2rem;
        text-align: center;
    }


    #undo-button {
        /* margin: 10px 20px;
        padding: 10px 20px; */
        font-size: 1.2rem;
        background-color: #4CAF50;
        color: white;
        /* border: none; */
        border-radius: 5px;
        cursor: pointer;
    }

    #new-game-button {
        /* margin: 10px 20px;
        padding: 10px 20px; */
        align-self: center;
        font-size: 1.2rem;
        background-color: #f44336;
        color: white;
        /* border: none; */
        border-radius: 5px;
        cursor: pointer;
    }

    #engine-move-button {
        /* margin: 10px 20px;
        padding: 10px 20px; */
        align-self: center;
        font-size: 1.2rem;
        background-color: #2196F3;
        color: white;
        /* border: none; */
        border-radius: 5px;
        cursor: pointer;
    }
}

#status {
    margin: 10px 20px;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}